.header__lang-link {
  color: #fff;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 400;
  font-style: normal;
  text-decoration-line: none;
  padding: 18px 0 6px;
  transition: opacity 1s ease;
}
.header__lang-link:hover {
  opacity: .5;
}
@media screen and (max-width: 665px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
    padding: 14px 0 8px;
  }
}
