.place__image {
  max-width: 460px;
  height: auto;
  grid-row: 2;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  .place__image {
    width: 440px;
  }
}
@media screen and (max-width: 768px) {
  .place__image {
    width: 340px;
  }
}
@media screen and (max-width: 665px) {
  .place__image {
    width: 100%;
    margin-bottom: 32px;
    object-fit: cover;
    grid-row: 3;
  }
}

