.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 984px;
  margin: 0 auto;
  border: 1px solid rgb(52, 184, 19);
}
@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
 }
}
@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
 }
}
@media screen and (max-width: 455px) {
  .lead {
    max-width: 320px;
 }
}
