.header {
  max-width: 1184px;
  width: 92.5vw;
  margin: 28px 48px 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
@media screen and (max-width: 1024px) {
  .header {
    width: 90.625vw;
    margin: 28px 48px 48px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    margin: 28px 24px 48px;
    width: 93.75vw;
  }
}
@media screen and (max-width: 425px) {
  .header {
    margin: 16px 16px 48px;
    width: 90vw;
  }
}
