.place {
  margin: 0;
  display: grid;
  padding: 0;
  grid-template-columns: 460px minmax(min-content,max-content);
  grid-gap: 48px 40px;
}
@media screen and (max-width: 1024px) {
  .place {
    grid-gap: 48px 32px;
    grid-template-columns: 440px minmax(min-content,max-content);
  }
}
@media screen and (max-width: 768px) {
  .place {
    grid-gap: 48px 28px;
    grid-template-columns: 340px minmax(min-content,max-content);
  }
}
@media screen and (max-width: 665px) {
  .place {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0 auto;
    row-gap: 0;

  }
}
@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    margin: 0 auto;
    row-gap: 0;

  }
}
