.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin: 0 0 40px;
  max-width: 690px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .intro__title {
    max-width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .intro__title {
    font-size: 11.4475vw;
    line-height: 1.09;
  }
}
